accelerate==1.15.0
bitsandbytes==0.50.2
datasets==5.0.1
peft==0.20.0
safetensors==0.8.0
torch==2.11.0+cu128
trl==1.13.0
transformers @ git+https://github.com/huggingface/transformers.git@1ee3185123da3b0549b7396c586b3ba936d66ace
